.App {
  text-align: center;
  font-family: sans-serif;
  color: black;
}

.navbar{
background-color: #6532CB;
display: flex;
align-items: center;
height: 60px;
padding: 0 20px;
}

.navbar a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
}

.navbar .logo {
  font-size: 30px;
}
.table-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0 60px;
}


table {
  width: 100%;
  /* display:; */
  padding: 0 20px;
  margin-top: 0px;


}
tr {
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;

}

td {
  color: black;
  font-weight: bold;
  font-size: 16px;
  
}

.name{
  color: #EF233C;
}

.stocks-info {
  text-align: left;
  padding: 20px;
}

.stocks-info h2, h3 {
  margin-left: 20px;
}